*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'inter', sans-serif;
    font-size: 18px;
    background-color: #111;
    color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 600px;
    margin: 120px auto 0 auto;
}
.link-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 24px;
    border: none;
    border-radius: 10px;
}
.icons{
    font-size: 24px;
}
.img-container{
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}
.img{
    width: 100%;
    border-radius: 50%;
    background-size: cover;
}
